<template>
  <section class="profit-list ">
    <!-- <div class="s-box" style="margin-left: 65%;">
      <span class="select"></span>
    </div> -->
    <div class="title pd" layout="row" layout-align="space-between center">
      <div layout="row" layout-align="start center">
        <img src="../../assets/images/note.png" height="20" width="20" alt="add-user">
        <span>收益记录</span>
      </div>
      <div>
        <span>共&nbsp;<span style="color: #f56048">{{profitListCount || 0}}</span>&nbsp;条数据</span>
      </div>
    </div>
    <div v-if="profitList.length" class="pd">
      <div class="main-body" :style="{'-webkit-overflow-scrolling': scrollMode}">
        <mt-loadmore :top-method="loadTop" :bottom-method="loadBottom" :bottom-all-loaded="allLoaded" :auto-fill="false" ref="loadmore">
          <ul class="list">
            <li layout="row" class="item" v-for="item in profitList" flex layout-align="space-between center">
              <span class="created_at">{{item.email}}</span>
              <span class="category_name" style="color:#0caa00">+{{pow(item.income)}}</span>
            </li>
          </ul>
          <div layout="row" layout-align="center center" class="pointer" @click="loadBottom()" v-if="isPc && !allLoaded">
            下一页
          </div>
        </mt-loadmore>
      </div>
    </div>
    <div v-else>
      <noData/>
    </div>
  </section>
</template>
<script type="text/javascript">
import { Loadmore } from 'mint-ui'
import api_game from 'api/api.game'
import noData from 'components/noData'
import api_baseinfo from 'api/api.baseinfo'
export default {
  data() {
    return {
      allLoaded: false,
      scrollMode: "auto",
      profitList: [],
      profitListCount: 0,
      load: {
        page: 0,
        size: 10
      },
      isPc: parseInt(window.sessionStorage.isPc)
    }
  },
  components: {
    'mt-loadmore': Loadmore,
    noData
  },
  created() {
    this.getprofitList();
  },
  methods: {
    pow(amount) {
      return api_baseinfo.pow(amount);
    },
    getprofitList() {
      api_game.getprofitList(this.load).then(res => {
        if (this.load.page) {
          this.profitList = this.profitList.concat(res.data);
        } else {
          this.profitList = res.data;
        }
        this.profitListCount = res.count;
        if (this.profitList && Array.isArray(this.profitList)) {
          if (this.profitList.length === res.count) {
            this.allLoaded = true;
          } else {
            this.allLoaded = false;
          }
        }
      }, error => {})
    },
    loadTop() { //组件提供的下拉触发方法  
      this.load.page = -1;
      this.loadmore();
      this.$refs.loadmore.onTopLoaded();
    },
    loadBottom() {
      // 上拉加载  
      this.loadmore();
      this.$refs.loadmore.onBottomLoaded();
    },
    loadmore() {
      this.load.page += 1;
      this.getprofitList();
      this.$nextTick(function() {
        this.scrollMode = "touch";
      });
    }
  }
}

</script>
<style lang="less" scoped>
@primary-color: #7a7fdc;
@background-color: #ececec;
.profit-list {
  .pd {
    padding: 0 5px 15px;
    color: @primary-color;
    background-color: @background-color;
    border-radius: 2px;
  }
  .title {
    padding: 15px 10px;
    font-size: 1.2rem;
    margin-top: 15px;
    img {
      margin-right: 5px;
    }
  }
  li {
    border-top: 1px solid #ddd;
    padding: 10px 0;
  }
}

</style>
