<template>
  <section class="recharge" layout="column" layout-align="center center">
    <!-- <div class="s-box" style="margin-left: 33%;">
      <span class="select"></span>
    </div> -->
    <div class="message-box" layout="column" layout-align="center center">
      <div class="title" layout="row" layout-align="center center">
        <div layout="column" layout-align="start center" style="white-space:nowrap;">
          <span class="text">帐户余额&nbsp;</span>
          <span class="subText" layout="row" layout-align="start center">
           <span class="eth_amount" style="color: #f56048;font-size:2rem;">{{pow(self.eth_amount) || 0}}</span>&nbsp;&nbsp;
          <img src="../../assets/images/refresh.png" class="pointer" height="16" width="16" alt="刷新" @click="getUserInfo()">
          </span>
        </div>
      </div>
      <div layout="row" layout-align="center center" class="qr">
        <vue-qr :text="self.eth_adress" height="250" width="250"></vue-qr>
      </div>
      <div class="container" layout="row" layout-align="center center" flex>
        <input class="address" type="text" readonly v-model="self.eth_adress">
        <div class="copy pointer" data-clipboard-text="self.eth_adress" @click="copy()">复制地址</div>
      </div>
      <router-link to="/user/withdrawList" class="list" layout="row" layout-align="center center" layout-wrap="nowrap">
        查看充值&提现记录
        <img src="../../assets/images/right.png" height="16" width="16" alt="right">
      </router-link>
    </div>
  </section>
</template>
<script type="text/javascript">
import api_user from 'api/api.user'
import VueQr from 'vue-qr'
import Clipboard from 'clipboard';
import { Toast } from 'mint-ui';
import api_baseinfo from 'api/api.baseinfo'
export default {
  data() {
    return {
      self: {
        eth_adress: "",
        eth_amount: 0
      }
    }
  },
  components: {
    VueQr
  },
  mounted() {
    this.getUserInfo();
  },
  methods: {
    pow(amount) {
      return api_baseinfo.pow(amount);
    },
    getUserInfo() {
      api_user.userInfo().then(res => {
        console.log(res.data)
        this.self = res.data;
        console.log(this.self)
      }, err => {})
    },
    copy() {
      var clipboard = new Clipboard('.copy')
      clipboard.on('success', e => {
        Toast('复制成功')
        clipboard.destroy()
      })
      clipboard.on('error', e => {
        Toast('该浏览器不支持自动复制')
        clipboard.destroy()
      })
    }
  }
}

</script>
<style lang="less" scoped>
@primary-color: #7a7fdc;
@btn-color: #f56048;
.recharge {
  width: 100%;
  min-height: 70vh;
  color: @primary-color;
  .message-box {
    background-color: #fff; // padding: 10px 15px;
    width: 90%;
    max-width: 500px;
    border-radius: 5px;
    text-align: center;
    .title {
      padding: 10px 0;
      .text {
        color: @primary-color;
        font-size: 1.8rem;
        margin-bottom: 10px;
      }
      .close {
        color: @btn-color;
        text-align: right;
        img {
          max-width: 50%;
        }
      }
    }
    .container {
      margin-top: 10px;
      color: #fff;
      font-size: 1.2rem;
      .address,
      .copy {
        background-color: #c2c4e7;
        border-radius: 2px;
        padding: 0 5px;
        width: 150px;
        border: none;
        height: 26px;
        line-height: 26px;
      }
      .address {
        background-color: #c2c4e7;
        margin-right: 5px;
        color: #fff;
      }
      .copy {
        background-color: #7a7fdc;
        width: inherit;
      }
    }
    .list {
      color: @primary-color;
      margin-top: 20px;
    }
  }
}

</style>
