<template>
  <section class="resetpwd" layout="column" layout-align="center center">
    <!-- <div class="s-box" style="margin-left: 33%;">
      <span class="select"></span>
    </div> -->
    <div class="title" layout="row" layout-align="center center">
      <span class="text">重置密码</span>
    </div>
    <div class="form" layout="column" layout-align="start center">
      <div class="input-box" layout="row" layout-align="start center">
        <mt-field type="email" v-model="self.email" placeholder="请输入邮箱" flex></mt-field>
      </div>
      <div class="input-box" layout="row" layout-align="start center" style="border: 1px solid #7a7fdc;">
        <input type="text" flex="70" v-model="self.tmp_code" placeholder="请输入验证码" style="padding: 0 10px;" />
        <input type="button" class="vcode_btn" v-model="codeText" @click="getCode()" :disabled="disabled" style="width: 100px;" />
      </div>
      <div class="input-box" layout="row" layout-align="start center">
        <mt-field type="password" v-model="self.pwd" placeholder="请输入新密码" flex></mt-field>
      </div>
      <div class="input-box" layout="row" layout-align="start center">
        <mt-field type="password" v-model="self.repwd" placeholder="请再次输入密码" flex></mt-field>
      </div>
    </div>
    <div class="btn" layout="row" layout-align="center center">
      <mt-button type="primary" @click="login()">重置密码</mt-button>
    </div>
  </section>
</template>
<script>
import api_user from 'api/api.user'
import { Button, Toast, Field } from 'mint-ui';
export default {
  data() {
    return {
      codeText: '获取验证码',
      time: 60,
      disabled: false,
      self: {
        tmp_code: '',
        pwd: '',
        email: '',
        repwd: ''
      }
    }
  },
  components: {
    'mt-button': Button,
    'mt-field': Field
  },
  methods: {
    //验证手机号码部分
    checkEmail() {
      let reg = new RegExp(/^([a-zA-Z0-9._-])+@([a-zA-Z0-9_-])+(\.[a-zA-Z0-9_-])+/);
      if (!reg.test(this.self.email)) {
        Toast('邮箱格式不正确');
        return false;
      }
      return true;
    },
    getCode() {
      if (this.checkEmail()) {
        this.self.tmp_code = 'CGDDJS';
        this.time = 60;
        this.disabled = true;
        this.timer();
        Toast('验证码已发送至您的邮箱，请注意查收');
      }
    },
    timer() {
      if (this.time > 0) {
        this.time--;
        this.codeText = `重新发送(${this.time }s)`;
        setTimeout(this.timer, 1000);
      } else {
        this.time = 0;
        this.codeText = "获取验证码";
        this.disabled = false;
      }
    },
    login() {
      if (this.checkEmail()) {
        if (!this.self.tmp_code) {
          Toast("小主,请输入验证码");
          return;
        }
        if (!this.self.pwd) {
          Toast("小主,请输入密码");
          return;
        }
        if (this.self.pwd.length < 6) {
          Toast('为了您帐户安全，请填写6位以上密码');
          return;
        }
        if (this.self.pwd != this.self.repwd) {
          Toast("小主,两次密码输入不一致");
          return;
        }
        api_user.resetpwd(this.self).then(result => {
          Toast('密码修改成功');
          this.$router.push(`/user/singin/0`);
        }, err => {});
      }
    }
  }
}

</script>
<style lang="less">
.resetpwd {
  width: 100%;
  min-height: 60vh;
  .title {
    padding: 10px 0;
    .text {
      color: #7a7fdc;
      font-size: 1.8rem;
    }
  }
  .form {
    background-color: #fff;
    .input-box {
      width: 100%;
      margin: 10px 0;
      height: 37px;
      border-radius: 3px;
      .mint-cell-wrapper {
        border: 1px solid #7a7fdc;
        height: 37px;
        border-radius: 3px;
      }
      a.mint-cell.mint-field.is-nolabel {
        min-height: 35px;
      }
      .mint-cell:last-child {
        background: none;
      }
    }
    input {
      border: none; // height: 10vw;
      font-size: 1.2rem;
      color: #7a7fdc;
      min-height: 25px;
      &::-webkit-input-placeholder {
        color: #bec1f2;
      }
      &:disabled {
        color: #666;
      }
    }
    .vcode_btn {
      margin-left: 0; // border-radius: 1vw;
      border: none; // color: #666;
      background: #fff; // font-size: 0.8rem;
      // line-height: 7vw;
      // padding: 0 2vw;
    }
  }
  .btn {
    margin: 5px 0 10px;
    button {
      background-color: #f56048;
      font-size: 1rem;
      padding: 0 30px;
      max-width: 50vw;
    }
  }
}

</style>
