<template>
  <section class="singin" layout="column" layout-align="center center">
   <!--  <div class="s-box" style="margin-left: 65%;">
      <span class="select"></span>
    </div> -->
    <div class="message-box">
      <div class="title" layout="row" layout-align="center center">
        <span class="text" v-if="isSingin">登录</span>
        <span class="text" v-else>注册</span>
      </div>
      <div class="line"></div>
      <div class="form">
        <form accept-charset="utf-8">
          <mt-field v-model="self.email" placeholder="请输入邮箱" type="email"></mt-field>
          <mt-field v-model="self.pwd" placeholder="请输入密码" type="password"></mt-field>
          <mt-field v-model="self.repwd" v-if="!isSingin" placeholder="请再次输入密码" type="password"></mt-field>
        </form>
        <div class="btn" layout="row" layout-align="center center" >
          <mt-button type="primary" v-if="isSingin" @click="login()">登录</mt-button>
          <mt-button type="primary" v-else @click="register()">注册</mt-button>
        </div>
      </div>
      <div class="line"></div>
      <div class="remark" layout="row" layout-align="center center">
        <div v-if="isSingin" layout="row" >
          <!-- 还没帐号？ -->
          <span @click="isSingin = false"  class="pointer">立即注册</span>
          <router-link to="/user/resetpwd" class="list"  style="color:#7a7fdc;margin-left:10px;">
            忘记密码？
          </router-link>
        </div>
        <div v-else>
          已有帐号？
          <span @click="isSingin = true" class="pointer">立即登录</span>
        </div>
      </div>
    </div>
  </section>
</template>
<script type="text/javascript">
import { Field, Button, Toast } from 'mint-ui';
import api_user from 'api/api.user'
export default {
  components: {
    'mt-field': Field,
    'mt-button': Button
  },
  data() {
    return {
      isSingin: true,
      self: {
        "email": "",
        "pwd": "",
        "repwd": "",
        "invited_code": this.$route.params.invited_code
      }
    }
  },
  created() {
    if (this.$route.params.invited_code && this.$route.params.invited_code !== '0') {
      this.isSingin = false;
    }
  },
  methods: {
    checkEmail() {
      let reg = new RegExp(/^([a-zA-Z0-9._-])+@([a-zA-Z0-9_-])+(\.[a-zA-Z0-9_-])+/);
      if (!reg.test(this.self.email)) {
        Toast('邮箱格式不正确');
        return false;
      }
      return true;
    },
    login() {
      if (this.self.email && this.self.pwd) {
        if (!this.checkEmail()) {
          Toast('邮箱格式不正确');
        } else {
          api_user.login(this.self).then(res => {
            window.localStorage.token = res.data.token;
            this.$router.push('/user/info');
          }, error => {});
        }
      } else {
        Toast('小主，请填写完整')
      }
    },
    register() {
      if (this.self.email && this.self.pwd && this.self.repwd) {
        if (!this.checkEmail()) {
          Toast('邮箱格式不正确');
          return;
        }
        if (this.self.pwd.length < 6) {
          Toast('为了您帐户安全，请填写6位以上密码');
          return;
        }
        if (this.self.pwd !== this.self.repwd) {
          Toast('2次密码输入不致');
          return;
        }
        api_user.register(this.self).then(res => {
          this.login();
        }, error => {});
      } else {
        Toast('小主，请填写完整')
      }
    }
  }
}

</script>
<style lang="less">
@primary-color: #7a7fdc;
@btn-color: #f56048;
.singin {
  width: 100%;
  min-height: 60vh;
  .message-box {
    background-color: #fff; // padding: 10px 15px;
    width: 80%;
    max-width: 300px;
    border-radius: 5px;
    .title {
      padding: 10px 0;
      .text {
        color: @primary-color;
        font-size: 1.8rem;
      }
      .close {
        color: @btn-color;
        text-align: right;
        img {
          max-width: 50%;
        }
      }
    }
    .form {
      form {
        padding: 5 10px;
        .mint-cell-wrapper {
          border: 1px solid @primary-color;
          margin: 10px 0;
          background: none;
          border-radius: 3px;
          min-height: 40px;
          input {
            color: @primary-color;
            font-size: 1.3rem;
            &::-webkit-input-placeholder,
            textarea::-webkit-input-placeholder {
              color: #bec1f2;
            }
            &:-moz-placeholder,
            textarea:-moz-placeholder {
              color: #bec1f2;
            }
            &::-moz-placeholder,
            textarea::-moz-placeholder {
              color: #bec1f2;
            }
            &::-ms-input-placeholder,
            textarea:-ms-input-placeholder {
              color: #bec1f2;
            }
            &:-webkit-autofill {
              -webkit-box-shadow: 0 0 0px 1000px white inset;
            }
          }
        }
        .mint-cell:last-child {
          background: none;
        }
      }
      .btn {
        margin: 5px 0 10px;
        button {
          background-color: @btn-color;
          font-size: 1rem;
          padding: 0 30px;
          max-width: 50vw;
        }
      }
    }
    .remark {
      margin-top: 15px;
      font-size: 1.2rem;
      padding: 0 0 5px;
      color: @primary-color;
      span {
        color: @btn-color;
      }
    }
  }
}

</style>
