<template>
  <section class="userinfo">
    <div class="s-box" style="margin-left: 65%;">
      <span class="select"></span>
    </div>
    <div class="user pd" layout="row" layout-align="space-between start">
      <div class="l-info" layout="column" flex="60" layout-align="start start">
        <span class="email">{{self.email}}</span>
        <span class="">帐户余额</span>
        <span class="total-eth">{{pow(self.eth_amount)}}</span>
        <div class="edit-pwd">
          <!--  -->
          <router-link to="/user/resetpwd" class="" style="color:#fff;">
            <span>修改密码</span>
          </router-link>
          <span style="background-color:#7a7fdc;" @click="singOut()" class="pointer">退出登录</span>
        </div>
      </div>
      <div class="r-info" layout="column" flex="40">
        <router-link to="/user/recharge">
          <mt-button type="primary" class="recharge">充值</mt-button>
        </router-link>
        <router-link to="/user/withdraw">
          <mt-button type="primary" class="record">提现</mt-button>
        </router-link>
        <router-link to="/user/withdrawList" class="list" layout="row" layout-align="center center" layout-wrap="nowrap" style="color:#7a7fdc;">
          充值&提现记录
          <img src="../../assets/images/right.png" height="16" width="16" alt="right">
        </router-link>
      </div>
    </div>
    <div class="invite_user pd">
      <div class="title" layout="row" layout-align="start center">
        <img src="../../assets/images/add-user.png" height="20" width="20" alt="add-user">
        <span>邀请好友</span>
      </div>
      <div class="">
        <div class="remark">
          将链接分享给好友，获得奖励金。其他规则介绍文字其他规则介绍文字其他规则介绍文字其他规则介绍文字
        </div>
        <div layout="row" layout-align="start center">
          <div class="container" layout="row" layout-align="start center" flex>
            <input class="address" type="text" readonly v-model="self.origin">
            <div class="copy pointer" :data-clipboard-text="self.origin" @click="copy()">复制分享</div>
          </div>
          <div class="my-profit container">
            <router-link to="/user/profit" class="list" layout="row" layout-align="center center" layout-wrap="nowrap">
              <div class="profit">我的收益</div>
            </router-link>
          </div>
        </div>
      </div>
    </div>
    <div class="bet-list pd">
      <div class="title " layout="row" layout-align="space-between center">
        <div layout="row" layout-align="start center">
          <img src="../../assets/images/note.png" height="20" width="20" alt="add-user">
          <span>投注记录</span>
        </div>
        <div>
          <span>共&nbsp;<span style="color: #f56048">{{betListCount || 0}}</span>&nbsp;条数据</span>
        </div>
      </div>
      <div class="main-body" :style="{'-webkit-overflow-scrolling': scrollMode}" v-if="betList.length">
        <mt-loadmore :top-method="loadTop" :bottom-method="loadBottom" :bottom-all-loaded="allLoaded" :auto-fill="false" ref="loadmore">
          <ul class="list">
            <li layout="row" class="item" v-for="item in betList" flex>
              <span class="created_at" flex="25">{{formatDate(item.created_at)}}</span>
              <span class="category_name" flex="20">{{item.category_name}}</span>
              <span class="club_name" flex="15">{{item.club_name}}</span>
              <span class="eth_amount" flex="20">{{pow(item.eth_amount)}}</span>
              <span class="balance_eth" flex="20" v-if="item.balance_eth <= 0">{{pow(item.balance_eth)}}</span>
              <span class="balance_eth b" flex="20" v-else>+{{pow(item.balance_eth)}}</span>
            </li>
          </ul>
          <div layout="row" layout-align="center center" class="pointer" @click="loadBottom()" v-if="isPc && !allLoaded">
            下一页
          </div>
        </mt-loadmore>
      </div>
      <div v-else>
        <noData style="min-height: 20vh;" />
      </div>
    </div>
  </section>
</template>
<script type="text/javascript">
import { Button, Toast, Loadmore } from 'mint-ui';
import api_user from 'api/api.user'
import api_game from 'api/api.game'
import Clipboard from 'clipboard'
import moment from 'moment'
import noData from 'components/noData'
import api_baseinfo from 'api/api.baseinfo'
export default {
  components: {
    'mt-button': Button,
    'mt-loadmore': Loadmore,
    noData
  },
  data() {
    return {
      self: {},
      load: {
        page: 0,
        size: 5
      },
      allLoaded: false,
      scrollMode: "auto",
      betList: [],
      betListCount: 0,
      isPc: parseInt(window.sessionStorage.isPc)
    }
  },
  created() {
    this.getUserInfo();
    this.getBetList();
  },
  methods: {
    pow(amount) {
      return api_baseinfo.pow(amount);
    },
    formatDate(time) {
      if (!time) {
        return '';
      }
      return moment(time).format('YYYY/MM/DD');
    },
    singOut() {
      window.localStorage.removeItem('token');
      this.$router.push('/user/singin/0');
    },
    getBetList() {
      api_game.getBetList(this.load).then(res => {

        if (this.load.page) {
          this.betList = this.betList.concat(res.data);
        } else {
          this.betList = res.data;
        }
        this.betListCount = res.count;
        if (this.betList && Array.isArray(this.betList)) {
          if (this.betList.length === res.count) {
            this.allLoaded = true;
          } else {
            this.allLoaded = false;
          }
        }
      }, error => {})
    },
    getUserInfo() {
      api_user.userInfo().then(res => {
        this.self = res.data;
        this.self.origin = window.location.origin + '/#/user/singin/' + res.data.invite_code;
      }, err => {})
    },
    copy() {
      var clipboard = new Clipboard('.copy')
      clipboard.on('success', e => {
        Toast('复制成功')
        clipboard.destroy()
      })
      clipboard.on('error', e => {
        Toast('该浏览器不支持自动复制')
        clipboard.destroy()
      })
    },
    loadTop() { //组件提供的下拉触发方法  
      this.load.page = -1;
      this.loadmore();
      this.$refs.loadmore.onTopLoaded();
    },
    loadBottom() {
      // 上拉加载  
      this.loadmore();
      this.$refs.loadmore.onBottomLoaded();
    },
    loadmore() {
      this.load.page += 1;
      this.getBetList();
      this.$nextTick(function() {
        this.scrollMode = "touch";
      });
    }
  }
}

</script>
<style lang="less" scoped>
@primary-color: #7a7fdc;
@background-color: #ececec;
.userinfo {
  .pd {
    margin: 15px 0;
    padding: 15px 5px;
    color: @primary-color;
    background-color: @background-color;
    border-radius: 2px;
  }
  .user {
    padding: 15px 0 15px 5px;
    .l-info {
      border-right: 1px dotted #d9d9d9;
      font-size: 1.3rem;
      .email {
        margin-bottom: 5px;
      }
      .edit-pwd {
        color: #fff;
        font-size: 1rem;
        span {
          background-color: #a6aae9;
          padding: 7px 13px;
          border-radius: 3px;
        }
      }
      .total-eth {
        color: #f56048;
        font-size: 3rem;
        margin: 0 0 15px;
      }
    }
    .r-info {
      margin: 0 5%;
      font-size: 1.1rem;
      .mint-button--normal {
        font-size: 1rem;
        width: 100%;
        height: 41px;
        margin-bottom: 15px;
        &.recharge {
          background-color: #f56048;
        }
        &.record {
          background-color: #7a7fdc;
        }
      }
    }
  }
  .title {
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    font-size: 1.2rem;
    img {
      margin-right: 5px;
    }
  }
  .invite_user {
    .remark {
      padding: 5px 0;
      line-height: 20px;
    }
    .container {
      margin-top: 10px;
      color: #fff;
      font-size: 1.1rem;
      .address,
      .copy,
      .profit {
        background-color: #c2c4e7;
        border-radius: 2px;
        padding: 0 5px;
        width: 55%;
        border: none;
        height: 26px;
        line-height: 26px;
        color: #fff;
      }
      .address {
        background-color: #c2c4e7;
        margin-right: 5px;
        color: #fff;
      }
      .copy,
      .profit {
        background-color: #7a7fdc;
        width: inherit;
        padding: 0 10px;
      }
    }
  }
  .bet-list {
    li {
      border-top: 1px solid #ddd;
      padding: 10px 0;
      .created_at {
        // width: 80px;
      }
      .category_name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .balance_eth {
        color: #f56048;
      }
      .balance_eth.b {
        color: #0caa00;
      }
    }
  }
}

</style>
