<template>
  <section class="withdraw" layout="column" layout-align="center center">
    <!--  <div class="s-box" style="margin-left: 33%;">
      <span class="select"></span>
    </div> -->
    <div class="message-box">
      <div class="title" layout="row" layout-align="center center">
        <div layout="column" layout-align="start center" style="white-space:nowrap;">
          <span class="text">帐户余额&nbsp;</span>
          <span class="subText" layout="row" layout-align="start center">
           <span class="eth_amount" style="color: #f56048;font-size:2rem;">{{self.eth_amount || 0}}</span>&nbsp;&nbsp;
          <img src="../../assets/images/refresh.png" class="pointer" height="16" width="16" alt="刷新" @click="getUserInfo()">
          </span>
        </div>
      </div>
      <div class="line"></div>
      <div class="form">
        <form accept-charset="utf-8">
          <div class="eth_amount" layout="row" layout-align="space-around center">
            <input v-model="withdraw.eth_amount" placeholder="提现金额" flex="70" type="number" min="0.001" step="0.001" :max="self.eth_amount" />
            <span @click="getAllEthAmount()">全部提现</span>
          </div>
          <mt-field v-model="withdraw.eth_adress" placeholder="钱包地址" type="email"></mt-field>
          <span class="reamrk">温馨提示:请详细核对钱包地址</span>
        </form>
        <div class="btn" layout="row" layout-align="center center">
          <mt-button type="primary" @click="withdrawCreate()">提现</mt-button>
        </div>
      </div>
      <router-link to="/user/withdrawList" class="list" layout="row" layout-align="center center" layout-wrap="nowrap">
        查看充值&提现记录
        <img src="../../assets/images/right.png" height="16" width="16" alt="right">
      </router-link>
    </div>
  </section>
</template>
<script type="text/javascript">
import { Field, Button, Toast } from 'mint-ui';
import api_user from 'api/api.user'
import api_game from 'api/api.game'
import api_baseinfo from 'api/api.baseinfo'
export default {
  components: {
    'mt-field': Field,
    'mt-button': Button
  },
  data() {
    return {
      self: {},
      withdraw: {
        eth_amount: 0,
        eth_adress: ''
      }
    }
  },
  created() {
    this.getUserInfo();
  },
  methods: {
    pow(amount) {
      return api_baseinfo.pow(amount);
    },
    withdrawCreate() {
      // this.withdraw.eth_amount = this.withdraw.eth_amount;
      if (!this.self.eth_amount) {
        Toast('当前帐户余额不足，不可提现');
        return;
      }
      if (!this.withdraw.eth_amount) {
        Toast('请输入有效的提现金额');
        return;
      }
      if (this.withdraw.eth_amount > this.self.eth_amount) {
        Toast(`最多可提现${this.self.eth_amount}`);
        return;
      }
      if (!this.withdraw.eth_adress) {
        Toast('请输入钱包地址');
        return;
      }

      api_game.withdrawCreate(this.withdraw).then(res => {
        Toast('申请提现成功');
        this.getUserInfo();
      }, error => {});
    },
    getAllEthAmount() {
      this.withdraw.eth_amount = this.self.eth_amount;
    },
    getUserInfo() {
      api_user.userInfo().then(res => {
        this.self = res.data;
        this.self.eth_amount = this.pow(res.data.eth_amount);
      }, err => {})
    }
  }
}

</script>
<style type="text/css" lang="less">
@primary-color: #7a7fdc;
@btn-color: #f56048;
.withdraw {
  width: 100%;
  min-height: 60vh;
  color: @primary-color;
  .message-box {
    background-color: #fff; // padding: 10px 15px;
    width: 90%;
    max-width: 500px;
    border-radius: 5px;
    .title {
      padding: 10px 0;
      .text {
        color: @primary-color;
        font-size: 1.8rem;
        margin-bottom: 10px;
      }
      .close {
        color: @btn-color;
        text-align: right;
        img {
          max-width: 50%;
        }
      }
    }
    .form {
      form {
        padding: 5px 0;
        .eth_amount {
          border: 1px solid @primary-color;
          border-radius: 3px;
          input {
            border: none;
            height: 33px;
            font-size: 1.5rem;
            color: @primary-color;
          }
        }
        .mint-cell-wrapper {
          border: 1px solid @primary-color;
          margin: 15px 0 5px;
          background: none;
          border-radius: 3px;
          min-height: 35px;
          input {
            color: @primary-color;
            font-size: 1.3rem;
          }
        }
        .reamrk {
          color: #888;
        }
        .mint-cell:last-child {
          background: none;
        }
      }
      .btn {
        margin: 15px 0 20px;
        button {
          background-color: @btn-color;
          font-size: 1rem;
          padding: 0 30px;
          width: 100%;
        }
      }
    }
    .list {
      color: @primary-color;
    }
  }
}

</style>
