<template>
  <section class="withdraw-list ">
    <!-- <div class="s-box" style="margin-left: 65%;">
      <span class="select"></span>
    </div> -->
    <div class="title pd" layout="row" layout-align="space-between center">
      <div layout="row" layout-align="start center">
        <img src="../../assets/images/note.png" height="20" width="20" alt="add-user">
        <span>充值&提现记录</span>
      </div>
      <div>
        <span>共&nbsp;<span style="color: #f56048">{{withdrawListCount || 0}}</span>&nbsp;条数据</span>
      </div>
    </div>
    <div v-if="withdrawList.length" class="pd">
      <div class="main-body" :style="{'-webkit-overflow-scrolling': scrollMode}">
        <mt-loadmore :top-method="loadTop" :bottom-method="loadBottom" :bottom-all-loaded="allLoaded" :auto-fill="false" ref="loadmore">
          <ul class="list">
            <li layout="row" class="item" v-for="item in withdrawList" flex>
              <span class="created_at">{{item.created_at}}</span>
              <span class="eth_amount" v-if="(item.type == 'recharge' && item.status == 1) || (item.type == 'withdraw' && item.status == 2)" style="color:#999">{{pow(item.eth_amount)}}</span>
              <span class="eth_amount b" v-else-if="item.type == 'recharge' && item.status != 1">+{{pow(item.eth_amount)}}</span>
              <span class="eth_amount" v-else>-{{pow(item.eth_amount)}}</span>
              <!-- <span class="eth_amount" v-else >-{{item.eth_amount}}</span> -->
              <span class="status_msg" style="text-align: center;" flex="20">{{item.status_msg }}</span>
            </li>
          </ul>
          <div layout="row" layout-align="center center" class="pointer" @click="loadBottom()" v-if="isPc && !allLoaded">
            下一页
          </div>
        </mt-loadmore>
      </div>
    </div>
    <div v-else>
      <noData/>
    </div>
  </section>
</template>
<script type="text/javascript">
import { Loadmore } from 'mint-ui'
import api_game from 'api/api.game'
import noData from 'components/noData'
import api_baseinfo from 'api/api.baseinfo'
export default {
  data() {
    return {
      allLoaded: false,
      scrollMode: "auto",
      withdrawList: [],
      withdrawListCount: 0,
      load: {
        page: 0,
        size: 10
      },
      isPc: parseInt(window.sessionStorage.isPc)
    }
  },
  components: {
    'mt-loadmore': Loadmore,
    noData
  },
  created() {
    this.getWithdrawList();
  },
  methods: {
    pow(amount) {
      return api_baseinfo.pow(amount);
    },
    getWithdrawList() {
      api_game.getWithdrawList(this.load).then(res => {
        if (this.load.page) {
          this.withdrawList = this.withdrawList.concat(res.data);
        } else {
          this.withdrawList = res.data;
        }
        this.withdrawListCount = res.count;
        if (this.withdrawList && Array.isArray(this.withdrawList)) {
          if (this.withdrawList.length === res.count) {
            this.allLoaded = true;
          } else {
            this.allLoaded = false;
          }
        }
      }, error => {})
    },
    loadTop() { //组件提供的下拉触发方法  
      this.load.page = -1;
      this.loadmore();
      this.$refs.loadmore.onTopLoaded();
    },
    loadBottom() {
      // 上拉加载  
      this.loadmore();
      this.$refs.loadmore.onBottomLoaded();
    },
    loadmore() {
      this.load.page += 1;
      this.getWithdrawList();
      this.$nextTick(function() {
        this.scrollMode = "touch";
      });
    }
  }
}

</script>
<style lang="less" scoped>
@primary-color: #7a7fdc;
@background-color: #ececec;
.withdraw-list {
  .pd {
    // margin: 15px 0;
    padding: 0 5px 15px;
    color: @primary-color;
    background-color: @background-color;
    border-radius: 2px;
  }
  .title {
    // border-bottom: 1px solid #ddd;
    padding: 15px 10px;
    font-size: 1.2rem;
    margin-top: 15px;
    img {
      margin-right: 5px;
    }
  }
  li {
    border-top: 1px solid #ddd;
    padding: 10px 0;
    justify-content: space-between;
    white-space: nowrap;
    .status_msg {
      // color: #f56048; // font-size: .9rem;
    }
  }
  .eth_amount {
    color: #f56048;
  }
  .eth_amount.b {
    color: #0caa00;
  }
}

</style>
