<template>
  <section class="game-list">
    <div class="s-box" style="margin-left: 33%;">
      <span class="select"></span>
    </div>
    <div class="nav-select">
      <ul>
        <li v-for="item in categoryList" :class="{select:self.cat_id === item.id}" @click="getCompetitionList(item)">{{item.category}}</li>
      </ul>
    </div>
    <div class="gmae-info" v-if="competitionList.length">
      <div class="main-body" :style="{'-webkit-overflow-scrolling': scrollMode}">
        <mt-loadmore :top-method="loadTop" :bottom-method="loadBottom" :bottom-all-loaded="allLoaded" :auto-fill="false" ref="loadmore">
          <ul class="list">
            <li layout="row" class="item" v-for="item in competitionList">
              <div layout="row" flex>
                <div class="date" layout="column" layout-align="start center">
                  <div class="day">{{formatDate(item.date,'MM-DD')}}</div>
                  <div class="work">{{formatDate(item.date,'dddd')}}</div>
                </div>
                <div class="line"></div>
                <span flex="5" style="width:5px;max-width:5px;"></span>
                <div class="info" flex>
                  <div class="game-item" v-for="gItem in item.data" flex>
                    <span class="title">{{gItem.description}}</span>
                    <div class="detail-item" flex v-for="subItem in gItem.data">
                      <div class="item" layout="row" layout-align="space-between center">
                        <span class="time" flex="20">{{formatDate(subItem.start_time,'hh:mm')}}</span>
                        <div class="item-r" layout="row" layout-align="space-around center" flex>
                          <div layout="row" layout-align="center center">
                            <img src="../../assets/images/bg.jpg" :alt="subItem.teama.club_name">
                            <span class="team-name">{{subItem.teama.club_name}}</span>
                          </div>
                          <span class="icon vs">VS</span>
                          <div layout="row" layout-align="center center">
                            <span class="team-name">{{subItem.teamb.club_name}}</span>
                            <img src="../../assets/images/bg.jpg" :alt="subItem.teamb.club_name">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <div layout="row" layout-align="center center" class="pointer" @click="loadBottom()" v-if="isPc && !allLoaded">
            下一页
          </div>
        </mt-loadmore>
      </div>
    </div>
    <div v-else>
      <noData/>
    </div>
  </section>
</template>
<script>
import { Loadmore } from 'mint-ui';
import api_game from 'api/api.game';
import moment from 'moment';
import noData from 'components/noData'
export default {
  data() {
    return {
      allLoaded: false,
      scrollMode: "auto",
      self: {
        cat_id: 0,
        page: 0,
        size: 5
      },
      categoryList: [],
      competitionList: [],
      isPc: parseInt(window.sessionStorage.isPc)
    }
  },
  components: {
    'mt-loadmore': Loadmore,
    noData
  },
  mounted() {
    this.getCategoryList();
  },
  methods: {
    formatDate(time, type) {
      if (!time) {
        return '';
      }
      moment.locale('zh-cn');
      return moment(time).format(type);
    },
    getCategoryList() {
      let all = { id: 0, category: '全部' };
      api_game.getCategoryList(self).then(res => {
        this.categoryList = res.data;
        this.categoryList.unshift(all);
      }, error => {});
      this.getCompetitionList(all);
    },
    getCompetitionList(item) {
      this.self.cat_id = item ? item.id : this.self.cat_id;
      api_game.getCompetitionList(this.self).then(res => {
        if (this.self.page) {
          this.competitionList = this.competitionList.concat(res.data);
        } else {
          this.competitionList = res.data;
        }
        if (this.competitionList && Array.isArray(this.competitionList)) {
          if (this.competitionList.length === res.count) {
            this.allLoaded = true;
          } else {
            this.allLoaded = false;
          }
        }
      }, error => {})
    },
    loadTop() { //组件提供的下拉触发方法  
      this.self.page = -1;
      this.loadmore();
      this.$refs.loadmore.onTopLoaded();
    },
    loadBottom() {
      // 上拉加载  
      this.loadmore();
      this.$refs.loadmore.onBottomLoaded();
    },
    loadmore() {
      this.self.page += 1;
      this.getCompetitionList();
      this.$nextTick(function() {
        this.scrollMode = "touch";
      });
    }
  }
}

</script>
<style lang="less">
@primary-color: #a6aae9;
@background-color: #ececec;
.game-list {
  overflow-x: hidden;
  color: @primary-color;
  .gmae-info {}
  .nav-select {
    // padding: 15px 0 5px;
    ul {
      max-width: 96%;
      overflow-x: auto;
      white-space: nowrap;
      margin: auto;
      padding: 15px 0;
      li {
        padding: 5px 15px;
        margin: 0 2px;
        font-size: 1.2rem;
        display: inline-block;
        cursor: pointer;
        &.select {
          border: 1px solid #7a7fdc;
          border-radius: 2px;
          font-weight: bold;
        }
      }
    }
  }
  ul.list {
    // margin-top: 10px;
  }
  .item {
    // padding: 10px 0 0;
    position: relative;
    .date {
      white-space: nowrap; // padding-right: 10px;
      height: 100%;
      position: relative;
      .day {
        font-weight: 600;
        font-size: 1.5rem;
      }
      .work {
        // margin: 0 0 10px;
      }
    }
    .line {
      position: absolute;
      height: 90%;
      width: 1px;
      left: 20px;
      top: 45px;
      border-left: 2px dotted @primary-color;
    }
    .time {
      font-size: 1.5rem;
      font-weight: bold;
    }
    .info {
      margin: 10px 0;
      .game-item {
        margin: 10px 0;
      }
      .title {
        font-size: 1.3rem;
      }
      .detail-item {
        background-color: @background-color;
        padding: 15px;
        margin-top: 5px;
        border-radius: 5px;
      }
      img {
        border-radius: 50%;
        width: 10vw;
        height: 10vw;
        max-width: 40px;
        max-height: 40px;
        padding: 0 5px;
      }
      .item-r {
        span {
          margin: 0 1vw;
          font-size: 1.3rem;
        }
        .icon.vs {
          color: #afafda; // padding: 0 3vw;
          font-weight: bold;
        }
        span.team-name {
          color: #7a7fdc;
          font-weight: bold;
        }
      }
    }
  }
}

</style>
