<template>
  <section class="home" flex>
    <div class="s-box">
      <span class="select"></span>
    </div>
    <div class="main-body" :style="{'-webkit-overflow-scrolling': scrollMode}" v-if="competitionList.length">
      <mt-loadmore :top-method="loadTop" :bottom-method="loadBottom" :bottom-all-loaded="allLoaded" :auto-fill="false" ref="loadmore">
        <ul>
          <li layout="row" flex class="item" v-for="item in competitionList">
            <div layout="row" flex>
              <div class="date" layout="column" layout-align="start center">
                <div class="day">{{formatDate(item.date,'MM-DD')}}</div>
                <div class="work">{{formatDate(item.date,'dddd')}}</div>
                <!-- <div class="line"></div> -->
              </div>
              <div class="line"> </div>
              <div flex="5" style="width:5px;max-width:5px;"></div>
              <div class="info" flex>
                <div v-for="gItem in item.data">
                  <span class="title">{{gItem.description}}</span>
                  <div class="item-box" flex v-for="subItem in gItem.data" @click="toggle(subItem)">
                    <div class="">
                      <div layout="row" layout-align="space-between center">
                        <span class="hour">{{subItem.competition_name}}&nbsp;&nbsp;{{formatDate(subItem.start_time,'HH:mm')}}</span>
                        <span class="remark" layout="row">投注剩余时间&nbsp;&nbsp;
                          <span class="" layout="row" layout-align="center center">
                            <count-down :startTime="getTime(subItem.start_time)" :endTime="getTime(subItem.end_time)" ></count-down>
                           <!--  <count-down  v-on:end_callback="countDownE_cb(1)" :currentTime="getTime()" :startTime="getTime(subItem.start_time)" :endTime="getTime(subItem.end_time)"  :secondsTxt="''"  :dayTxt="'天'"></count-down> -->
                        </span>
                        </span>
                      </div>
                      <div class="beting-info" layout="row" layout-align="center center">
                        <div class="item-l" layout="row" layout-align="center center" flex="45">
                          <div class="" layout="column">
                            <span>胜率</span>
                            <span>{{subItem.teama.victory_rate * 100}}%</span>
                          </div>
                          <img :src="subItem.teama.club_logo" alt="logo">
                          <span class="team-name">{{subItem.teama.club_name}}</span>
                        </div>
                        <span class="icon vs">VS</span>
                        <div class="item-r" layout="row" layout-align="center center" flex="45">
                          <span class="team-name">{{subItem.teamb.club_name}}</span>
                          <img :src="subItem.teamb.club_logo" alt="logo">
                          <div class="" layout="column">
                            <span>胜率</span>
                            <span>{{subItem.teamb.victory_rate * 100}}%</span>
                          </div>
                        </div>
                      </div>
                      <div class="detail-betting" style="cursor:default;" layout="row" layout-align="center center" flex v-if="subItem.start_date === true" @click.stop>
                        <div class="detail-item detail-l" layout="column" layout-align="center center" flex="50">
                          <div class="beting-btn b-btn" @click="showCreateBet(subItem,'teama')">{{subItem.teama.club_name}}胜</div>
                          <span class="my-betting">我的投注(ETH)</span>
                          <span class="number">{{pow(subItem.teama.userbeta) || 0}}</span>
                          <span class="total-betting">总投注(ETH)</span>
                          <span class="total">{{pow(subItem.teama.amounta) || 0}}</span>
                        </div>
                        <div class="detail-item detail-r" layout="column" layout-align="center center" flex="50">
                          <div class="beting-btn b-btn" @click="showCreateBet(subItem,'teamb')">{{subItem.teamb.club_name}}胜</div>
                          <span class="my-betting">我的投注(ETH)</span>
                          <span class="number">{{pow(subItem.teamb.userbetb) || 0}}</span>
                          <span class="total-betting">总投注(ETH)</span>
                          <span class="total">{{pow(subItem.teamb.amountb) || 0}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div layout="row" layout-align="center center" class="pointer" @click="loadBottom()" v-if="isPc && !allLoaded">
          下一页
        </div>
      </mt-loadmore>
    </div>
    <div v-else>
      <noData/>
    </div>
    <section class="createBet" layout="column" layout-align="center center" v-if="createBetShow">
      <div class="message-box">
        <div class="title" layout="row" layout-align="space-between center">
          <div layout="row" layout-align="start center" style="white-space:nowrap;">
            <span class="text">投注金额&nbsp;</span>
            <span class="subText" layout="row" layout-align="start center">(我的ETH：<span class="eth_amount" style="color: #f56048;">
            {{user_amount}}</span>)&nbsp;&nbsp;
            <img src="../../assets/images/refresh.png" class="pointer" height="16" width="16" alt="刷新" @click="getUserInfo">
            </span>
          </div>
          <div class="close">
            <img src="../../assets/images/close.png" alt="关闭" @click="createBetShow = false">
          </div>
        </div>
        <div class="line"></div>
        <div class="form">
          <form accept-charset="utf-8" layout="row" layout-align="center center">
            <mt-button class="cahnge-amount" type="primary" style="background-color:#6066ce" :disabled='changeAmount.subDisabled' @click="cahngeAmount(-0.001)">-</mt-button>
            <input v-model="eth_amount" type="number" min="0.001" step="0.001" :max="user_amount" />
            <mt-button class="cahnge-amount" type="primary" style="background-color:#6066ce" :disabled='changeAmount.oddDisabled' @click="cahngeAmount(0.001)">+</mt-button>
          </form>
          <div class="btn" layout="row" layout-align="center center">
            <mt-button type="primary" @click="createBet" v-if="user_amount">确认投注</mt-button>
            <router-link to="/user/recharge" v-else>
              <mt-button type="primary" @click="">去充值</mt-button>
            </router-link>
          </div>
        </div>
      </div>
    </section>
  </section>
</template>
<script>
import api_game from 'api/api.game'
import api_user from 'api/api.user'
import moment from 'moment'
import countDown from 'components/countDown'
// import countDown from 'vue2-countdown'
import { Button, Toast, Loadmore } from 'mint-ui';
import noData from 'components/noData'
import api_baseinfo from 'api/api.baseinfo'
export default {
  data() {
    return {
      allLoaded: false,
      scrollMode: "auto",
      self: {
        cat_id: 0,
        page: 0,
        size: 5
      },
      competitionList: [],
      eth_amount: 0.001,
      user_amount: 0,
      createBetShow: false,
      createBetInfo: {},
      changeAmount: {
        oddDisabled: true,
        subDisabled: true
      },
      subItem: {},
      isPc: parseInt(window.sessionStorage.isPc)
    }
  },
  components: {
    'mt-loadmore': Loadmore,
    'mt-button': Button,
    'count-down': countDown,
    noData
  },
  created() {
    this.getCompetitionList();
  },
  methods: {
    getUserInfo() {
      api_user.userInfo().then(res => {
        this.user_amount = this.pow(res.data.eth_amount);
        if (this.user_amount <= 0.001) {
          this.eth_amount = this.user_amount;
          this.changeAmount.oddDisabled = true;
          this.changeAmount.subDisabled = true;
        } else {
          this.changeAmount.oddDisabled = false;
          this.changeAmount.subDisabled = false;
        }
      }, err => {})
    },
    pow(amount) {
      return api_baseinfo.pow(amount);
    },
    cahngeAmount(amount) {
      let total = parseFloat((amount + (this.eth_amount)).toFixed(6));
      if (total <= 0.001) {
        this.eth_amount = 0.001;
        this.changeAmount.subDisabled = true;
        return;
      } else {
        this.changeAmount.subDisabled = false;
      }
      if (total >= this.user_amount) {
        this.eth_amount = this.user_amount;
        this.changeAmount.oddDisabled = true;
        return;
      } else {
        this.changeAmount.oddDisabled = false;
      }
      this.eth_amount = total;
    },
    getTime(time) {
      if (time) {
        return parseInt(moment(time).format('X'));
      } else {
        return parseInt(moment().format('X'));
      }
    },
    countDownE_cb(x) {
      // console.log(x)
    },
    formatDate(time, type) {
      if (!time) {
        return '';
      }
      moment.locale('zh-cn');
      return moment(time).format(type);
    },
    createBet() {
      if (this.eth_amount <= 0) {
        Toast('最少投注1ETH')
        return;
      }
      this.createBetInfo.eth_amount = this.eth_amount * Math.pow(10, 6);
      api_game.createBet(this.createBetInfo).then(res => {
        this.createBetShow = false;
        if (this.subItem.userbeta) {
          this.subItem.userbeta = parseFloat(this.subItem.userbeta) + parseFloat(this.createBetInfo.eth_amount);
          this.subItem.amounta = parseFloat(this.subItem.amounta) + parseFloat(this.createBetInfo.eth_amount);
        } else if (this.subItem.userbetb) {
          this.subItem.userbetb = parseFloat(this.subItem.userbetb) + parseFloat(this.createBetInfo.eth_amount);
          this.subItem.amountb = parseFloat(this.subItem.amountb) + parseFloat(this.createBetInfo.eth_amount);
        }
      }, error => {})
    },
    showCreateBet(item, teamType) {
      if (!teamType) {
        return;
      }
      this.subItem = item[teamType];
      if (window.localStorage.token) {
        this.createBetInfo = {
          "competition_id": item.competition_id,
          "bet_content": teamType,
          "eth_amount": this.eth_amount
        }
        if (moment().isBefore(item.end_time) && moment().isAfter(item.start_time)) {
          this.getUserInfo();
          this.createBetShow = true;
        } else {
          Toast('当前赛事不可投注')
        }
      } else {
        this.$router.push('/user/singin/0');
      }
    },
    getCompetitionList() {
      api_game.getCompetitionList(this.self).then(res => {
        if (this.self.page) {
          this.competitionList = this.competitionList.concat(res.data);
        } else {
          this.competitionList = res.data;
        }
        if (this.competitionList && Array.isArray(this.competitionList)) {
          if (this.competitionList.length === res.count) {
            this.allLoaded = true;
          } else {
            this.allLoaded = false;
          }
        }
      }, error => {})
    },
    loadTop() {
      this.self.page = -1;
      this.loadmore();
      this.$refs.loadmore.onTopLoaded();
    },
    loadBottom() {
      this.loadmore();
      this.$refs.loadmore.onBottomLoaded();
    },
    loadmore() {
      this.self.page += 1;
      this.getCompetitionList();
      this.$nextTick(function() {
        this.scrollMode = "touch";
      });
    },
    toggle(item) {
      if (item.start_date !== true && item.start_date !== false) {
        item.start_date = false;
      }
      item.start_date = !item.start_date;
    }
  }
}

</script>
<style lang="less">
@primary1-color: #a6aae9;
@background-color: #ececec;
.home {
  color: @primary1-color;
  .item {
    padding: 10px 0 0;
    position: relative;
    .date {
      white-space: nowrap; // padding-right: 10px;
      height: 100%;
      position: relative;
      .day {
        font-weight: 600;
        font-size: 1.5rem;
      }
      .work {
        margin: 0 0 10px;
      }
    }
    .line {
      position: absolute;
      height: 90%;
      width: 1px;
      left: 20px;
      top: 55px;
      border-left: 2px dotted @primary1-color;
    }
    .info {
      padding-bottom: 15px;
      .title {
        font-size: 1.3rem;
        display: block;
        margin: 10px 0;
      }
      .item-box {
        background-color: @background-color;
        border-radius: 5px;
        padding: 3%;
        text-align: center;
        margin-top: 5px;
        cursor: pointer;
        .hour {
          font-size: 1.5rem;
          font-weight: 600;
        }
        .remark {
          font-size: 1.2rem;
          span {
            color: #f56048;
          }
          p {
            display: flex;
            i {
              font-style: normal;
            }
          }
        }
        .beting-info {
          padding: 10px 0 0;
          margin: 10px 0;
          border-top: 2px solid #d8d8d8;
          img {
            border-radius: 50%;
            width: 10vw;
            height: 10vw;
            max-width: 40px;
            max-height: 40px;
            padding: 0 5px;
          }
          .icon.vs {
            color: #afafda;
            padding: 0 2vw;
            font-size: 1.3rem;
            font-weight: 600;
          }
          .team-name {
            color: #7a7fdc;
            font-weight: 600;
            font-size: 1.3rem;
          }
        }
        .detail-item {
          padding: 2%;
          .beting-btn {
            background-color: #f56048;
            width: 85%;
            color: #fff;
            padding: 10px 0;
            border-radius: 3px;
            font-size: 1.2rem;
            cursor: pointer;
          }
          span.my-betting,
          span.total-betting {
            margin: 15px 0 5px;
            font-weight: normal;
            color: #9d9ced;
            font-size: 1rem;
          }
          span {
            color: #7a7fdc;
            font-size: 1.3rem;
            font-weight: 600;
          }
        }
      }
    }
  }
}

@primary-color: #7a7fdc;
@btn-color: #f56048;
.createBet {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, .38);
  min-height: 100%;
  .message-box {
    background-color: #fff;
    padding: 10px 15px;
    width: 85%;
    max-width: 300px;
    border-radius: 5px;
    .title {
      padding: 5px 0;
      .text {
        color: @primary-color;
        font-size: 1.8rem;
      }
      .close {
        color: @btn-color;
        text-align: right;
        img {
          max-width: 50%;
          cursor: pointer;
        }
      }
    }
    .form {
      form {
        height: 65px;
        input {
          border: 1px solid @primary-color;
          margin: 10px 5px;
          background: none;
          border-radius: 3px;
          min-height: 40px;
          color: @primary-color;
          padding: 0 5px;
          font-size: 1.5rem;
          width: 60%;
        }
        .mint-button.cahnge-amount {
          width: 40px;
          text-align: center;
        }
        .mint-cell:last-child {
          background: none;
        }
      }
      .btn {
        margin: 5px 0 10px;
        button {
          background-color: @btn-color;
          max-width: 50vw;
          font-size: 1rem;
          padding: 0 30px;
        }
      }
    }
    .line {
      height: 2px;
      width: 100%;
      background-color: #eaeaea;
      margin-bottom: 5px;
    }
    .remark {
      font-size: 1.5rem;
      padding: 0 0 5px;
      color: @primary-color;
      span {
        color: @btn-color;
      }
    }
  }
}

</style>
