<template>
  <section class="no-data" layout="column" layout-align="center center" v-if="isEmpty">
    <img src="../assets/images/noData.png" height="48" width="48">
    <span>暂时没有数据,去看看别的吧~</span>
  </section>
</template>
<script type="text/javascript">
export default {
  data() {
    return {
      isEmpty: false
    }
  },
  mounted() {
    window.setTimeout(() => {
      this.isEmpty = true;
    }, 2000)
  }
}

</script>
<style lang="less" scoped>
.no-data {
  min-height: 60vh;
  color: #a6aae9;
  span {
    margin-top: 10px;
  }
}

</style>
