/**
 * flex css flex-box弹性盒模型Css样式
 * 
 * may
 * 
 */

@import 'flex';
@charset "utf-8";
.s-box {
  position: absolute;
  top: -1.4rem;
  width: 33%;
  display: flex;
  justify-content: center;
  .select {
    width: 0;
    height: 0;
    border-left: 1.5rem solid transparent;
    border-right: 1.5rem solid transparent;
    border-bottom: 1.5rem solid #fff;
  }
}
.pointer{
  cursor:pointer; 
}
button{
  .pointer;
}