@charset "utf-8";





/**
 * reast css 重置Css样式
 * 
 * may
 * 
 */

body,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form {
  margin: 0;
}

ol,
li,
ul {
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
dt,
dd,
dl,
table,
th,
td,
form,
input,
button,
textarea,
header,
footer,
section,
article,
aside,
nav,
hgroup,
figcaption,
figure {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* 针对移动端 */
}

header,
footer,
section,
article,
aside,
nav,
hgroup,
figcaption,
figure {
  display: block;
}



a,
a:hover {
  text-decoration: none;
}

img {
  border: 0;
  max-width: 100%;
}

input {
  outline: none;
  font-size: 1rem;
  appearance: button;
  -moz-appearance: button;
  -webkit-appearance: button;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"]::-webkit-file-upload-button,
button {
  align-items: flex-start;
  text-align: center;
  cursor: default;
  color: buttontext;
  background-color: buttonface;
  box-sizing: border-box;
  padding: 2px 6px 3px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
  border-image: initial;
}

table {
  border-collapse: collapse;
}

li {
  list-style: none;
}

body,
html {
  //PingFangSC-regular,"Microsoft YaHei",tahoma,arial,"Hiragino Sans GB","\5b8b\4f53",sans-serif
  font-family: "PingFangSC-Light", "Microsoft YaHei", tahoma, arial, "Hiragino Sans GB", "\5b8b\4f53", sans-serif; // font-family: '-apple-system', "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
  // font-size: 10px; // line-height: 22px;
  // font-size: 10px;
  color: #030303;
  width: 100%;
  height: 100%;
  max-width: 768px;
  margin: auto;
}






/* 滚动条颜色 */

body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

body::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}
