<template>
  <section class="app">
    <section class="header">
      <div class="nav" layout="row" layout-align="space-between center" flex>
        <div v-for="(item,index) in navList" @click="goPage(index)" flex="33" class="nav-item" layout="row" layout-align="center center">
          <img :src="item.icon" alt="item.text">
          <span>{{item.text}}</span>
        </div>
      </div>
    </section>
    <section class="main" layout="row">
      <router-view id="app" flex></router-view>
    </section>
  </section>
</template>
<script type="text/javascript">

export default {
  data() {
    return {
      navList: [{
        text: '投注赛事',
        icon: require('assets/images/betting.png')
      }, {
        text: '赛事列表',
        icon: require('assets/images/gameList.png')
      }, {
        text: '个人中心',
        icon: require('assets/images/userinfo.png')
      }],
      closeImg: require('assets/images/close.png'),
      singinShow: false,
      isSingin: true,
      self: {
        "email": "",
        "pwd": "",
        "repwd": ""
      }
    }
  },
  methods: {
    goPage(index) {
      switch (index) {
        case 0:
          this.$router.push('/');
          break;
        case 1:
          this.$router.push('/game/list');
          break;
        case 2:
          if (!window.localStorage.token) {
             this.$router.push('/user/singin/0');
          } else {
            this.$router.push('/user/info');
          }
          break;
      }
    }
  }
}
</script>
<style lang="less">
@primary-color: #7a7fdc;
@btn-color: #f56048;
.app {
  width: 100%;
  .header {
    color: #fff;
    .nav {
      background: url(assets/images/bg.jpg) no-repeat;
      background-size: 100%;
      height: 6rem;
      max-height: 135px;
      cursor: pointer;
      img {
        max-width: 20%;
        margin-right: 5px;
      }
      .nav-item {
        position: relative;
        height: 100%;
      }
    }
  }
  .main {
    width: 96%;
    padding:  0 2%;
    // margin: auto;
    position: relative;
    #app {
      width: 100%;
    }
  }

  
}

.mint-toast-text {
  white-space: nowrap;
  font-size: 1rem;
}

</style>
